/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=======================================================================*/
body {
    background-color: #67AFCB;
}
#drum-machine{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:inherit;
    display: block;
    top: 20%;

}
#display {
    display: flex;
    justify-content: center;
    margin: 5%;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #1A3E4C;

}
.title {
    display: flex;
    justify-content: center;
    margin: 5%;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(9, 40, 52, 0.6);
}
.drum-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.drum-pad {
    display: flex;
    width: 60px;
    height: 60px;
    margin: 2%;
    border: 5px solid rgba(228, 241, 246, 0.5);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(52, 123, 152, 0.4);
    color:rgb(228, 241, 246);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.1s;

}
.activePad{
transform: scale(0.9);
border-color: rgba(52, 123, 152, 1);
background-color: rgba(228, 241, 246, 1);
color: rgba(52, 123, 152, 1);
}
